doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    link(rel="stylesheet", href="/public/css/chat.css")
    title MINI RTC (SocketIO)
  body 
    header
      h1 MINI RTC (SocketIO)
    main 
      div#welcome.active
        h2 Top Page
        h4 Available rooms 
        ul#roomList
        form(action="")
          span Nickname
          input#topNickname(type="text", placeholder="Enter nickname", required)
          span Room
          input#roomName(type="text", placeholder="Enter the room name you want to create / join.", required)
          div.btnWrapper
            button.create(type="button") Create
            button.searchJoin(type="button") Join
      div#room
        h2 In Room
        ul#messageList
        form(action="")
          span Nickname
          input#roomNickname(type="text", placeholder="Type nickname.", required) 
          span Message
          input#message(type="text", placeholder="Type message", required)
          div.btnWrapper
            button(type="submit") Enter
            button.leave(type="button") Leave
      div#notice
        div#noticeHeader
          h3 A list of implementations.
          h4 'Code Challenge' requirements.
          div.closeBtn ❌
        ul 
          li Users should be able to create, join and leave rooms. 
            input(type="checkbox" checked="true")
          li Allow users to change nickname. 
            input(type="checkbox" checked="true")
          li Backend code on src/server.js, and frontend code on src/public/app.js 
            input(type="checkbox" checked="true")
          li Show a list of all the rooms currently on the server.
            input(type="checkbox" checked="true")
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app_socketIO.js")