doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    link(rel="stylesheet", href="/public/css/chat.css")
    title WEB RTC
  body 
    header
      h1 WEB RTC
    main 
      div#welcome.active
        form(action="") 
          input(type="text" placeholder="Room name" required)#roomInput
          button Enter
      div#streamWrapper
        h3 Room
        video#scene(autoplay, playsinline, width="400", height="400")
        video#peerStream(autoplay, playsinline, width="400", height="400")
        select#cameras
        div#btnWrapper
          button#mute Mute
          button#camera Camera Off
        ol#messageList
      div#error
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")